# Section 1 : List Basics

In [8]:
# Input several numbers from the user using the input function in one go (each number separated by a space)
string = input("Enter elements (Space-Separated): ")
list_of_inputs = string.split()

print(type(list_of_inputs))

print(list_of_inputs)

<class 'list'>
['34', '45', '34', '2', 'Harsh', 'Ram', 'Basketball']

DATA STRUCTURES
-> LIST, SET ,TUPLE, DICTIONARY

In [4]:
for i in range(5):
    a=input("enter the input")
    list=[a]
    print(a)

4
3
5
6
3

In [11]:
# Make a list of marks that you got in Physics, Chemistry and Maths in your +2 board exam
# Write the marks manually without using the input function

marks=[98,95,99]

In [10]:
# Print the list

print(marks)

[98, 95, 99]

In [37]:
# Find the length of the list

print(len(marks))

3

In [16]:
# Print the first element of the list

print(marks[0])

98

In [38]:
# Print the last element of the list

print(marks[-1])
l=len(marks)-1
print(marks[l])

100
100

In [18]:
#  Print the second element of the list

print(marks[1])

95

In [19]:
# Change your marks for Chemistry and Maths in this list

marks[1]=100
marks[2]=100
print(marks)

[98, 100, 100]

# Section 2 : Simple List functions

In [62]:
# Append your marks for Hindi or English to this list
hindi=93
english=97
marks.append(english)                  # adding an input in the list later
print(marks)

[98, 100, 100, 97]

In [66]:
# Create a blank list and append your marks for P, C, M and Language in +2 one by one to this list using the append function
# Once done, find the length of the list

P=98
C=95
M=99
L=97
list2=[]
list2.append(P)
list2.append(C)
list2.append(M)
list2.append(L)
print(list2)

[98, 95, 99, 97]

In [64]:
# METHOD 2
''' P2=input("enter marks in physics")
C2=input("enter marks in chemistry")
M2=input("enter marks in mathematics")
list3=[]
list3.append(P2)
print(list3) '''

' P2=input("enter marks in physics")\nC2=input("enter marks in chemistry")\nM2=input("enter marks in mathematics")\nlist3=[]\nlist3.append(P2)\nprint(list3) '

In [67]:
# Create a new blank list and append your marks for Science, Math and Language in 10th class one by one to this list using the append function
# Once done, find the length of the list

Sci=99
Eng=97
Math=100
IP=100
list3=[]
list3.append(Sci)
list3.append(Eng)
list3.append(Math)
list3.append(IP)
print(list3)

[99, 97, 100, 100]

In [68]:
print(len(list3))

4

In [75]:
# Create a new blank list and add to it the marks for +2 and 10th class from the above lists using the extend function
list4=[]
list4.extend(marks)
list4.extend(list3)                      # append permanently adds the data ( means again and again) whereas extend add it temporarily (means only once)
print(list4)                              # thah's why we have to assign a variable

[98, 100, 100, 97, 99, 97, 100, 100]

In [98]:
listt=[]
listt.append(marks)
print(listt)
print(len(listt))

[[98, 100, 100, 97]]
1

In [85]:
list4=[]
list4.extend(marks)
list4.extend(list3)                      # append permanently adds the data ( means again and again) whereas extend add it temporarily (means only once)
print(list4)                              # thah's why we have to assign a variable

[98, 100, 100, 97, 99, 97, 100, 100]

In [94]:
# Reverse the above list using the list_name.reverse() function
print(list4)
list4.reverse()               # make changes in original list
print(list4)

[100, 100, 97, 99, 97, 100, 100, 98]
[98, 100, 100, 97, 99, 97, 100, 100]

In [133]:
# Reverse the above (reversed) list using list(reversed(list_name)) function. So you should get back the original lis
list5=list(reversed(list4))         # giving error
print(list5)

TypeError: 'list' object is not callable

In [128]:
#method 2
print(marks[::-1])
print(marks[-1::-1])

[97, 100, 100, 98]
[97, 100, 100, 98]

In [115]:
type(marks)

list

In [132]:
# Remove the Maths marks from all the three lists using list_name.remove(element) function

if M in list2:                          # here M was variable assigned to marks in maths for list2
    print(list2)
else:
    print("marks of maths are not present in list2")

[98, 95, 99, 97]

In [ ]:
# Before trying to remove an element, better to check if its even there in the list or not

# already done above

# Section 3 : List Slicing

In [129]:
# From the list of all marks, print all the items from second marks onwards

print(marks[0::1])

[98, 100, 100, 97]

In [143]:
# From the list of all marks, print all the items from second marks up to the fourth marks

print(list4[1:4:])
print(list4[1:4])

[100, 100, 97]
[100, 100, 97]

In [148]:
# From the list of all marks, print all the items from second marks up to the penultimate( 1 before last or ultimate) marks
print(list4)
print(list4[1:7:])
print(list4[1:len(list4)-1])

[98, 100, 100, 97, 99, 97, 100, 100]
[100, 100, 97, 99, 97, 100]
[100, 100, 97, 99, 97, 100]

In [139]:
# Print every element at the odd position in the list
print(list4)
print(list4[::2])

[98, 100, 100, 97, 99, 97, 100, 100]
[98, 100, 99, 100]

In [140]:
# Print every element at the even position in the list
print(list4[1::2])

[100, 97, 97, 100]

# Section 4 : Simple List computations

In [168]:
# Find the sum of all the marks in your list using the sum(list_name) function
print(sum(list4))
print(sum(list4[0:2]))

791
198

In [144]:
# Find the maximum of all the marks in your list using the max(list_name) function

print(max(list4))

100

In [149]:
# Find the minimum of all the marks in your list using the min(list_name) function

print(min(list4))

97

Find avg

In [169]:
head=sum(list4)
base=len(list4)
avg=head/base
print(avg)

98.875

# Section 5 : Create a List using the range() function

In [ ]:
for i in range(12,23,3):
    print(i)

In [173]:
list(range(10))

TypeError: 'list' object is not callable

In [157]:
# Create a list of integers using the list(range(n)) function, where n can be any integer within the limits of your computer
list(range(10))

12
15
18
21

In [158]:
for j in range(15):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [174]:
# What does this function give : list(range(n1, n2))

print(list(range(12,34)))

TypeError: 'list' object is not callable

In [ ]:
# What does this function give : list(range(n1, n2, n3))
print(list(range(2,17,2)))

In [ ]:
# Create a list of first 100 integers, and find their sum

In [ ]:
# Create a list of first 100 integers, and find their average

In [ ]:
# Create a list of even numbers in the range 1-100, and find their sum as well as average

In [ ]:
# Create a list of odd numbers in the range 1-100, and find their sum as well as average

In [ ]:
# Make a copy of your list and change the first element of this new list. See what happens to the original list

# Section 6 : DIY Exercises

In [ ]:
# In a given list of numbers, swap the first and last element

In [ ]:
# In a given list of numbers, swap the second and fourth element

In [ ]:
# Take a list of two numbers and arrange them in ascending order

In [ ]:
# Create two lists : one having your 10th class board marks and another having your +2 board marks for each subject.
# Create another list that contains both these lists. So this new list will have 2 elements, both of which are lists.

In [ ]:
# In the above list of lists, print the marks in the 2nd element of the first list

In [ ]:
# Reference for further learning : https://www.geeksforgeeks.org/python-lists/